<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Бизнес Ассистент</title>
    {% load static %}

    <!-- Bootstrap CSS Filez -->
    <link href="{% static 'main/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>
    <!-- Libraries CSS Files -->

    <link href="{% static 'main/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Main Stylesheet File -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'main/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/img/favicon-16x16.png' %}">
    <link rel="manifest" type="image/png" href="{% static 'main/img/site.webmanifest' %}">

    <meta name="yandex-verification" content="9b513ab79c2a9fca" />
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="Бизнес, ассистент, налог, бухгалтерия, ФГИС, ЭДО, регестрация, ликвидация">
    <meta name="description" content="Мы современная компания с быстрыми и уникальными решениями для вашего бизнеса. На данном рынке более 20 лет,
    мы постоянно развиваемся и не стоим на месте. У нас очень уютный офис, в котором вас всегда встретят с улыбкой и угостят вкусным кофе.
    Обслуживаясь в нашей компании, вы получаете не просто услугу, а целую команду специалистов, которые сделают все для того,
    чтобы Вы получили максимальную пользу и комфорт.">


    <script>
        //Код jQuery, установливающий маску для ввода телефона элементу input
        //1. После загрузки страницы,  когда все элементы будут доступны выполнить...
        $(function(){
            //2. Получить элемент, к которому необходимо добавить маску
            $("#text_phone").mask("+7(999)999-99-99");
            $("#text_phone_2").mask("+7(999)999-99-99");
            $("#text_phone_3").mask("+7(999)999-99-99");
        });
    </script>

    <script>
        function device(){
            let detect = new MobileDetect(window.navigator.userAgent)
            return detect.phone();
        }
    </script>

    <script>
            function call_request() {
                var var_fname = $('#text_fname').val();
                var var_phone = $('#text_phone').val();
                var var_msg = $('#text_msg').val();

                if (var_fname == "" || var_phone == "" || var_msg == "" ){
                    $('#exampleModalLabel').html('Заявка не отправлена');
                    $('#down_msg').html('Необходимо заполнить все поля');
                }
                else {
                    $('#exampleModalLabel').html('Заявка отправлена');
                    $('#down_msg').html('Ваша заявка отправлена, вскоре с вами свяжется специалист');
                    $.get('/main/save_request/', {fname: var_fname, phone: var_phone, msg: var_msg}, function (data) {
                            $('#text_fname').val('');
                            $('#text_phone').val('');
                            $('#text_msg').val('');
                        }
                    );
                }
            }
    </script>

    <script>
        function call_request_2() {
            var var_fname = $('#text_fname_2').val();
            var var_phone = $('#text_phone_2').val();
            var var_msg = "Необходимо перезвонить";

            if (var_fname == "" || var_phone == ""){
                $('#down_msg_2').html('Необходимо заполнить все поля');
            }
            else {
                $('#down_msg_2').html('Ваша обращение отправлено, вскоре с вами свяжется специалист');
                $.get('/main/save_request/', {fname: var_fname, phone: var_phone, msg: var_msg}, function (data) {
                        $('#text_fname_2').val('');
                        $('#text_phone_2').val('');
                    }
                );
            }
        }
    </script>

    <script>
        function call_request_3() {
            var var_fname = $('#text_fname_3').val();
            var var_phone = $('#text_phone_3').val();
            var var_msg = $('#text_msg_3').val();

            if (var_fname == "" || var_phone == "" || var_msg == "" ){
                $('#down_msg_3').html('Необходимо заполнить все поля');
            }
            else {
                $('#down_msg_3').html('Ваша заявка отправлена, вскоре с вами свяжется специалист');
                $.get('/main/save_request/', {fname: var_fname, phone: var_phone, msg: var_msg}, function (data) {
                    $('#text_fname_3').val('');
                    $('#text_phone_3').val('');
                    $('#text_msg_3').val('');
                    }
                );
            }
        }
    </script>

    <script>
        function show_exampleModal_3(){
            $('#down_msg_3').html('');
            jQuery.noConflict();
            $('#exampleModal_3').modal('show');
            $('#text_fname_3').val('');
            $('#text_phone_3').val('');
            $('#text_msg_3').val('');
        }
    </script>

    <script>
        function show_exampleModal_2(){
            $('#down_msg_2').html('');
            jQuery.noConflict();
            $('#exampleModal_2').modal('show');
            $('#text_fname_2').val('');
            $('#text_phone_2').val('');
        }
    </script>

</head>
<body>
<section id="headers"></section>
<div class="osnova">
    <script>
        var TxtType = function(el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtType.prototype.tick = function() {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

            var that = this;
            var delta = 200 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
            }

            setTimeout(function() {
                that.tick();
            }, delta);
        };

        window.onload = function() {
            var elements = document.getElementsByClassName('typewrite');
            for (var i=0; i<elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-type');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                    new TxtType(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #111}";
            document.body.appendChild(css);
        };
    </script>
    <header id="header">
        <div class = "container" style="max-width: 1350px; margin:0 auto;">
            <div class = "row">
                <div class="col-12">
                    <div class="my_href_b logo float-left">
                        <a href="#headers" class="scrollto img-fluid"><img style="margin-top: auto; margin-bottom: auto;" src="{% static 'main/img/logo.png' %}"></a>
                    </div>
                    <div class="my_href_s logo float-right">
                        <a href="#headers" class="scrollto img-fluid"><img style="margin-top: auto; margin-bottom: auto;" src="{% static 'main/img/logo.png' %}"></a>
                    </div>

                    <nav class="main-nav float-right d-none d-lg-block">
                        <ul>
                            <li><a href="#about">О компании</a></li>
                            <li><a href="#services">Услуги</a></li>
                            <li><a href="#team">Сотрудники</a></li>
                            <li><a href="#testimonials">Клиенты</a></li>
                            <script>

                                if (device() == null){
                                    document.write('<li><div class="my_href_b"><a href="javascript:show_exampleModal_2();">8 (910) 748-02-34</a></div></li>\n' +
                                        '                                        <li><div class="my_href_s"><a class="mobile-nav-toggle" href="javascript:show_exampleModal_2();" style="margin-left: 0px; padding-left: 0px; padding-right: 18%;">8 (910) 748-02-34</a></div></li>')
                                }
                                else {
                                    document.write('<li><div class="my_href_b"><a href="tel:8 (910) 748-02-34" style="padding-left: 60px;">8 (910) 748-02-34</a></div></li>\n' +
                                        '                                        <li><div class="my_href_s"><a href="tel:8 (910) 748-02-34">8 (910) 748-02-34</a></div></li>')
                                }
                            </script>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div style="background-color: #f5f5f5">
        <div class="container" style="">
            <div class = "row" style="max-width: 1350px; margin: 70px auto 0;overflow: hidden;">
                <div class="col-md-6 col-sm-12 block_1" style="padding-left: 0px; padding-right: 0px;"><img class="img-fluid" src="{% static 'main/img/_DSC3292.jpg' %}"></div>
                <div class="col-md-6 col-sm-12 block_1">
                    <div class="col-12">
                        <div class="">
                            <h1 class="text-left" style="margin-left: 2%; font-family: Rubik-ext"><span style="color: #e50e3a">Б</span>изнес <span style="color: #e50e3a">А</span>ссистент</h1>
                            <div class="my_txt text-left" style="line-height: 110%;">Полный спектр услуг<br>для успешного ведения бизнеса</div>
                            <div class="my_txt text-left typewrite" data-period="1000" data-type='[ "Бухгалтерия", "Налоги", "Юристы" ]' style="color: #e50e3a;"><span class="wrap"></span></div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="about" class="patern">
        <div class="container" style="max-width: 1350px; margin:0 auto;">
            <div class = "row" style="max-width: 100%; overflow: hidden">
                <div class="" style="margin-left: 15px;">
                    <div class="fon">
                        <div class="container d-flex align-items-center justify-content-center" style="margin-top: 90px;">
                            <dev class="phone_zg">О компании</dev>
                            <br><br><br><br>
                        </div>
                        <div class="container d-flex align-items-center justify-content-center">
                            <dev class="phone_wb" style="padding-bottom: 5%;padding-left: 5%; padding-right: 5%;">Мы современная компания с быстрыми и уникальными решениями для вашего бизнеса. На данном рынке более 20 лет, мы постоянно развиваемся и не стоим на месте. У нас очень уютный офис, в котором вас всегда встретят с улыбкой и угостят вкусным кофе. Обслуживаясь в нашей компании, вы получаете не просто услугу, а целую команду специалистов, которые сделают все для того, чтобы Вы получили максимальную пользу и комфорт.</dev></div>
                        <br><br><br>
                    </div>
                    </dev>
                </div>
            </div>
        </div>
    </section>
    <section id="numbers">
        <div class="container" style="max-width: 1350px; margin:0 auto; overflow: hidden">
            <div class="row">
                <div class="col-12 text-center phone_zg" style="margin-top: 60px;">О нас в цифрах</div>
            </div>
            <div class="row phone_zg text-center" style="margin-top: 50px;">
                <div class="col-lg-1"></div>
                <div class="col-md-6 col-lg-3" style="color: #e50e3a; margin-bottom: 2.5%;">
                    <div><span data-toggle="counter-up">20</span> лет</div>
                    <div class="text_o_nas text-center">Успешной работы<br> нашей фирмы</div>
                </div>
                <div class="col-md-6 col-lg-2" style="color: #e50e3a; margin-bottom: 2.5%;">
                    <div style="white-space: nowrap"><span data-toggle="counter-up">800</span> 000+</div>
                    <div class="text_o_nas text-center">Сданных<br>отчетов</div>
                </div>
                <div class="col-md-6 col-lg-2" style="color: #e50e3a; margin-bottom: 2.5%;">
                    <div><span data-toggle="counter-up">200 </span></div>
                    <div class="text_o_nas text-center">Обслуживаемых<br>компаний</div>
                </div>
                <div class="col-md-6 col-lg-3" style="color: #e50e3a; margin-bottom: 2.5%;">
                    <div><span data-toggle="counter-up">100</span> млн руб</div>
                    <div class="text_o_nas text-center">Экономии денег<br>наших клиентов</div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <p><br></p>
        </div>
    </section>
    <div style="background: #f5f5f5">
        <section id="services" style="background: #f5f5f5;max-width: 1350px;margin-left: auto;margin-right: auto;">
            <div class="container" style='overflow: hidden; margin-left: 15%; margin-right: 15%;'>

                <div class="row">
                    <br>
                    <div class="col-lg-12 text-center">
                        <p><br></p>
                        <h1 class="phone_zg" style="margin-top: 0px; background: #f5f5f5">Услуги</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                        <figure class="effect-text-two">
                            <img class="img-fluid" src="{% static 'main/img/1. Бухгалтерское обсуживание.jpg' %}" alt=""/>
                            <figcaption>
                                {% for el in txt %}
                                {% if el.chapter == 'Услуга 1' %}
                                <h3>{{el.title|linebreaksbr}}</h3>
                                <p>
                                    {{el.text|linebreaksbr}}
                                    <br><span class="btn btn-primary" style="background-color: #007bff00; border-color: #007bff00; font-weight: bold; font-size: 100%">{{el.price}}</span>
                                    <br><a style="margin-top: 2px;" href="javascript:show_exampleModal_3();" class="btn hvr-hollow btn-lg">оставить заявку</a>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                        <figure class="effect-text-two">
                            <img class="img-fluid" src="{% static 'main/img/2. Сопровождение работ с маркетплейсами.jpg' %}" alt=""/>
                            <figcaption>
                                {% for el in txt %}
                                {% if el.chapter == 'Услуга 2' %}
                                <h3>{{el.title|linebreaksbr}}</h3>
                                <p>
                                    {{el.text|linebreaksbr}}
                                    <br><span class="btn btn-primary" style="background-color: #007bff00; border-color: #007bff00; font-weight: bold; font-size: 100%">{{el.price}}</span>
                                    <br><a style="margin-top: 2px;" href="javascript:show_exampleModal_3();" class="btn hvr-hollow btn-lg">оставить заявку</a>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                        <figure class="effect-text-two">
                            <img class="img-fluid" src="{% static 'main/img/3. Оптимизация работы с онлайн-кассами, эквайрингом.jpg' %}" alt=""/>
                            <figcaption>
                                {% for el in txt %}
                                {% if el.chapter == 'Услуга 3' %}
                                <h3>{{el.title|linebreaksbr}}</h3>
                                <p>
                                    {{el.text|linebreaksbr}}
                                    <br><span class="btn btn-primary" style="background-color: #007bff00; border-color: #007bff00; font-weight: bold; font-size: 100%">{{el.price}}</span>
                                    <br><a style="margin-top: 2px;" href="javascript:show_exampleModal_3();" class="btn hvr-hollow btn-lg">оставить заявку</a>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                        <figure class="effect-text-two">
                            <img class="img-fluid" src="{% static 'main/img/4. Подбор и внедрение облачныхрешений для приема денег онлайн.jpg' %}" alt=""/>
                            <figcaption>
                                {% for el in txt %}
                                {% if el.chapter == 'Услуга 4' %}
                                <h3>{{el.title|linebreaksbr}}</h3>
                                <p>
                                    {{el.text|linebreaksbr}}
                                    <br><span class="btn btn-primary" style="background-color: #007bff00; border-color: #007bff00; font-weight: bold; font-size: 100%">{{el.price}}</span>
                                    <br><a style="margin-top: 2px;" href="javascript:show_exampleModal_3();" class="btn hvr-hollow btn-lg">оставить заявку</a>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                        <figure class="effect-text-two">
                            <img class="img-fluid" src="{% static 'main/img/5.  Маркировка, лицензирование, прослеживаемые товары, ФГИС, ЭДО.jpg' %}" alt=""/>
                            <figcaption>
                                {% for el in txt %}
                                {% if el.chapter == 'Услуга 5' %}
                                <h3>{{el.title|linebreaksbr}}</h3>
                                <p>
                                    {{el.text|linebreaksbr}}
                                    <br><span class="btn btn-primary" style="background-color: #007bff00; border-color: #007bff00; font-weight: bold; font-size: 100%">{{el.price}}</span>
                                    <br><a style="margin-top: 2px;" href="javascript:show_exampleModal_3();" class="btn hvr-hollow btn-lg">оставить заявку</a>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                        <figure class="effect-text-two">
                            <img class="img-fluid" src="{% static 'main/img/6. Налоговые вопросы.jpg' %}" alt=""/>
                            <figcaption>
                                {% for el in txt %}
                                {% if el.chapter == 'Услуга 6' %}
                                <h3>{{el.title|linebreaksbr}}</h3>
                                <p>
                                    {{el.text|linebreaksbr}}
                                    <br><span class="btn btn-primary" style="background-color: #007bff00; border-color: #007bff00; font-weight: bold; font-size: 100%">{{el.price}}</span>
                                    <br><a style="margin-top: 2px;" href="javascript:show_exampleModal_3();" class="btn hvr-hollow btn-lg">оставить заявку</a>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                        <figure class="effect-text-two">
                            <img class="img-fluid" src="{% static 'main/img/7. Регистрация, ликвидация бизнеса.jpg' %}" alt=""/>
                            <figcaption>
                                {% for el in txt %}
                                {% if el.chapter == 'Услуга 7' %}
                                <h3>{{el.title|linebreaksbr}}</h3>
                                <p>
                                    {{el.text|linebreaksbr}}
                                    <br><span class="btn btn-primary" style="background-color: #007bff00; border-color: #007bff00; font-weight: bold; font-size: 100%">{{el.price}}</span>
                                    <br><a style="margin-top: 2px;" href="javascript:show_exampleModal_3();" class="btn hvr-hollow btn-lg">оставить заявку</a>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                        <figure class="effect-text-two">
                            <img class="img-fluid" src="{% static 'main/img/8. Корпоративные юриддические задачи.jpg' %}" alt=""/>
                            <figcaption>
                                {% for el in txt %}
                                {% if el.chapter == 'Услуга 8' %}
                                <h3>{{el.title|linebreaksbr}}</h3>
                                <p>
                                    {{el.text|linebreaksbr}}
                                    <br><span class="btn btn-primary" style="background-color: #007bff00; border-color: #007bff00; font-weight: bold; font-size: 100%">{{el.price}}</span>
                                    <br><a style="margin-top: 2px;" href="javascript:show_exampleModal_3();" class="btn hvr-hollow btn-lg">оставить заявку</a>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-3 my_center"></div>
                    <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                        <figure class="effect-text-two">
                            <img class="img-fluid" src="{% static 'main/img/9. Персональная помощь бизнес-ассистента под ваш запрос.jpg' %}" alt=""/>
                            <figcaption>
                                {% for el in txt %}
                                {% if el.chapter == 'Услуга 9' %}
                                <h3>{{el.title|linebreaksbr}}</h3>
                                <p>
                                    {{el.text|linebreaksbr}}
                                    <br><a style="margin-top: 10px;" href="javascript:show_exampleModal_3();" class="btn hvr-hollow btn-lg">оставить заявку</a>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-3 my_center"></div>
                </div>
            </div>
        </section>
    </div>
    <section id="about_work" style="max-width: 1350px; margin:0 auto; overflow: hidden;">
        <div class="container my_cont_1">
            <div class="col-lg-12 text-center">
                <p><br></p>
                <div class="phone_zg">Как мы работаем</div>
                <p></p>
                <img class="img-fluid col-12" style="max-width: 80%;" src="{% static 'main/img/img.png' %}">
                <div class="col-12" style="padding-right: 5%; padding-left: 5%;">
                    <div class="row ">
                        <div class="col-3 text-center phone_wb"><p style="font-family: Rubik-ext">Оставьте <a href="javascript:show_exampleModal_3();" style="color: #e50e3a; text-decoration: none;">заявку</a></p></div>
                        <div class="col-1"></div>
                        <div class="col-4 text-center phone_wb"><p style="font-family: Rubik-ext">Мы позвоним</p>
                            <p style="font-family: Rubik_rg">Наш специалист свяжется с вами и обсудит все вопросы</p></div>
                        <div class="col-1"></div>
                        <div class="col-3 text-center phone_wb"><p style="font-family: Rubik-ext">Выполняем работу</p>
                            <p style="font-family: Rubik_rg">Указываем перечень работ, сроки, стоимость и порядок оплаты</p></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my_cont_2">
            <div class="col-lg-12 text-center">
                <p><br></p>
                <div class="phone_zg">Как мы работаем</div>
                <p></p>
                <div class="row">
                    <div class="col-12 text-left white-space: nowrap;" style="margin-bottom: 20px;">
                        <div class="row">
                            <div class="col-4 text-right"><img style="max-width: 90px;margin-bottom: 20px;" src="{% static 'main/img/num1.png' %}"></div>
                            <div class="col-8" style="margin-top: auto; margin-bottom: auto;"><p style="font-family: Rubik-ext; font-size: 140%"> Оставьте <a href="javascript:show_exampleModal_3();" style="color: #e50e3a; text-decoration: none;">заявку</a></p></div>
                        </div>
                    </div>
                    <div class="col-12 text-left white-space: nowrap;" style="margin-bottom: 20px;">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-6 text-center phone_wb"><p style="font-family: Rubik-ext; margin-bottom: 8px;">Мы позвоним</p>
                                <p style="font-family: Rubik_rg; font-size: 100%; line-height: 120%">Наш специалист свяжется с вами и обсудит все вопросы</p></div>
                            <div style="margin-top: auto; margin-bottom: auto;" class="col-4 text-left"><img style="max-width: 90px;margin-bottom: 20px;" src="{% static 'main/img/num2.png' %}"></div>
                        </div>
                    </div>
                    <div class="col-12 text-left white-space: nowrap;" style="margin-bottom: 20px;">
                        <div class="row">
                            <div style="margin-top: auto; margin-bottom: auto;" class="col-4 text-right"><img style="max-width: 90px;margin-bottom: 20px;" src="{% static 'main/img/num3.png' %}"></div>
                            <div class="col-6 text-center phone_wb"><p style="font-family: Rubik-ext; margin-bottom: 8px;">Выполняем работу</p>
                                <p style="font-family: Rubik_rg; font-size: 100%; line-height: 120%">Указываем перечень работ, сроки, стоимость и порядок оплаты</p></div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" style="overflow: hidden; background: #f5f5f5">
        <div class="container">
            <div class="text-center">
                <p><br></p>
                <div class="phone_zg" style="background: #f5f5f5">Наши сотрудники</div>
                <p></p>
                <div class="content_flip">
                    <a class="card" id="num_1">
                        {% for el in txt2 %}
                        {% if el.num == '1' %}
                        <div class="front">
                                <img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 170px;left: 275px;">
                                <img src="{{ el.img.url }}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <div class="text-right"><img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 30px; transform: scale(-1, 1)"></div>
                                <h2>{{el.name}}</h2>
                                <br>
                                <p>{{el.about|linebreaksbr}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </a>
                    <a class="card" id="num_2">
                        {% for el in txt2 %}
                        {% if el.num == '2' %}
                        <div class="front">
                            <img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 170px;left: 275px;">
                            <img src="{{ el.img.url }}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <div class="text-right"><img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 30px; transform: scale(-1, 1)"></div>
                                <h2>{{el.name}}</h2>
                                <br>
                                <p>{{el.about|linebreaksbr}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </a>
                    <a class="card" id="num_3">
                        {% for el in txt2 %}
                        {% if el.num == '3' %}
                        <div class="front">
                            <img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 170px;left: 275px;">
                            <img src="{{ el.img.url }}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <div class="text-right"><img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 30px; transform: scale(-1, 1)"></div>
                                <h2>{{el.name}}</h2>
                                <br>
                                <p>{{el.about|linebreaksbr}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </a>
                    <a class="card" id="num_4">
                        {% for el in txt2 %}
                        {% if el.num == '4' %}
                        <div class="front">
                            <img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 170px;left: 275px;">
                            <img src="{{ el.img.url }}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <div class="text-right"><img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 30px; transform: scale(-1, 1)"></div>
                                <h2>{{el.name}}</h2>
                                <br>
                                <p>{{el.about|linebreaksbr}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </a>
                    <a class="card" id="num_5">
                        {% for el in txt2 %}
                        {% if el.num == '5' %}
                        <div class="front">
                            <img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 170px;left: 275px;">
                            <img src="{{ el.img.url }}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <div class="text-right"><img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 30px; transform: scale(-1, 1)"></div>
                                <h2>{{el.name}}</h2>
                                <br>
                                <p>{{el.about|linebreaksbr}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </a>
                    <a class="card" id="num_6">
                        {% for el in txt2 %}
                        {% if el.num == '6' %}
                        <div class="front">
                            <img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 170px;left: 275px;">
                            <img src="{{ el.img.url }}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <div class="text-right"><img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 30px; transform: scale(-1, 1)"></div>
                                <h2>{{el.name}}</h2>
                                <br>
                                <p>{{el.about|linebreaksbr}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </a>
                    <a class="card" id="num_7">
                        {% for el in txt2 %}
                        {% if el.num == '7' %}
                        <div class="front">
                            <img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 170px;left: 275px;">
                            <img src="{{ el.img.url }}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <div class="text-right"><img src="{% static 'main/img/free-icon-left-turn-arrow-1453.png' %}" alt="" style="position: relative;bottom: 30px; transform: scale(-1, 1)"></div>
                                <h2>{{el.name}}</h2>
                                <br>
                                <p>{{el.about|linebreaksbr}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials" style="max-width: 1350px; margin:0 auto;">
        <div class="container" style="overflow: hidden; margin-left: 8%; margin-right: 8%;">
            <div class="phone_zg text-center" style="padding-bottom: 2%">Наши клиенты</div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="owl-carousel testimonials-carousel wow">
                        {% for el in txt3 %}
                            <div class="testimonial-item">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4">
                                        <img src="{{ el.img.url }}" class="testimonial-img img-fluid" style="padding-left: 10%;padding-right: 10%;margin-left: auto;margin-right: auto;margin-bottom: 10%;margin-top: 10%;" alt="">
                                    </div>
                                    <div class="col-md-12 col-lg-8" style="padding-left: 5%; padding-right: 5%; margin-top: auto;margin-bottom: auto;">
                                        <div class="phone_zg text-center" style="margin-bottom: 1%;">{{ el.title }}</div>
                                        <div class="phone_wb" style="margin-left: 6px; text-align: left">
                                            {{ el.text }}<br>
                                            Сайт: <a href="{{ el.href }}" target="_blank">{{ el.href }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #testimonials -->
    <section style="overflow: hidden; background: #f5f5f5">
        <div style="max-width: 1350px; margin:0 auto;">
            <div class="row" style="margin-bottom: 1%;">
                <div class="col-md-6 col-sm-12">
                    <img class="img-fluid" style="max-height: 535px" src="{% static 'main/img/_DSC3512.jpg' %}">
                </div>
                <div class="col-md-6 col-sm-12" style="margin-top: 2.7%;">
                    <form style="margin-left: 3.5%; margin-right: 3.5%;">
                        <h1 class="phone_zg text-center" style="margin-top: 0px; background: #f5f5f5"><span style="color: #e50e3a">Оставьте заявку</span></h1>
                        <h1 class="phone_wb text-center" style="margin-top: 0px; background: #f5f5f5">мы вам перезвоним </h1>
                        <div class="form-group">
                            <input class="form-control" id="text_fname" type="text" style="margin-bottom: 5%; height: 64%;" rows="1" placeholder="Имя" onchange="toggleButton()">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="text_phone" type="text" style="margin-bottom: 5%; height: 64%;" rows="1" placeholder="Телефон" onchange="toggleButton()">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="text_msg" style="margin-bottom: 5%; height: 114%;" rows="3" placeholder="Текст обращения"></textarea>
                        </div>
                        <div class="d-grid gap-2 d-flex justify-content-end">
                            <button type="button" id="submitButton" onclick="call_request();" style="width: 33.5%; max-width: 270px; border-top-width: 0; border-left-width: 0; border-bottom-width: 0; border-right-width: 0;" data-toggle="modal" data-target="#exampleModal" class="btn hvr-hollow btn-lg">Оставить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section style="overflow: hidden;">
        <div class="patern container">
            <br>
            <br>
            <div class="row">
                <div class="col-xl-1 col-md-1 col-sm-0"></div>
                <div class="col-xl-6 col-md-6 col-sm-12 down_blok" style="margin-top: 0px;padding-top: 20px;padding-left: 40px;padding-right: 40px;padding-bottom: 30px;max-width: 650px; border-radius: 10px">
                    <div class="row">
                        <div class="col-6" style="font-family: Regular;font-size: 25pt;line-height: 85%;padding-left: 0px;">Контактная <br> информация</div>
                        <div class="col-6 text-right">
                            <img src="{% static 'main/img/логотип рус-01 (5).png' %}">
                        </div>
                    </div>
                    <br>
                    <div class="row" style="background-color: #f1f1f1;padding-bottom: 5px;padding-left: 5px;padding-top: 5px;border-radius: 10px;">
                        <div class="col-6" style="margin-bottom: 15px;">Телефон:
                            <br><a href="tel:8 (4862) 75-17-27">8 (4862) 75-17-27</a>
                            <br><a href="tel:+7 (910) 748-02-34">+7 (910) 748-02-34</a>
                        </div>

                        <div class="col-6 b_blok" style="margin-bottom: 15px;">Адрес:
                            <br>Орёл, ул. 2-ая Посадская,<br>д. 4, офис 100
                        </div>

                        <div class="col-6 m_blok" style="margin-bottom: 15px;">Адрес:
                            <br>Орёл,<br>ул. 2-ая Посадская,<br>д. 4, офис 100
                        </div>

                        <div class="col-6">Электронный адрес:
                            <br>b2b-as@yandex.ru
                        </div>
                        <div class="col-6">Соц. сети:
                            <br>
                            <a href="https://telegram.me/+79107480234" target="_blank"><img src="{% static 'main/img/2022-09-16_15-43-40.png' %}"></a>
                            <a href="#!"><img src="{% static 'main/img/2022-09-16_15-45-42.png' %}" target="_blank"></a>
                            <a href="https://wa.me/+79107480234" target="_blank"><img src="{% static 'main/img/2022-09-16_15-49-11.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-5 col-sm-0"></div>
            </div>
            <br><br>
        </div>
        <div class="container">
            <div class="row" style="background-color: #dedede">
                <div class="col-6 text-center" style="font-size: 9pt;margin-top: 0.5%;margin-bottom: 0.5%;">
                    © 2022. Все права защищены.
                    <br>ООО Бизнес Ассистент ИНН/КПП 5753030469/575201001
                </div>
                <div class="col-6 text-center align-middle" style="font-size: 10pt;margin-top: 0.5%;margin-bottom: 0.5%;padding-top: 10px;">
                    <a href="{% static 'main/img/Политика конфидициальности.pdf' %}" target="_blank">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Заявка отправлена</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="down_msg" style="margin-bottom: 0px;"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_2" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: #f5f5f5">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" style="margin-left: 31%; font-family: Rubik-ext; color: #e50e3a;" id="exampleModalLabel">Оставьте заявку</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-left: 12%; padding-right: 12%;">
                        <p class="text-center" style="margin-bottom: 10px; color: black">Ваше устройство не обладает такой функцией. <br> Оставьте контакты - мы вам перезвоним и ответим на все вопросы</p>
                        <div class="form-group">
                            <input class="form-control"  id="text_fname_2" type="text" style="margin-bottom: 5%; height: 64%;" rows="1" placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <input class="form-control"  id="text_phone_2" type="text" style="margin-bottom: 5%; height: 64%;" rows="1" placeholder="Телефон">
                        </div>
                        <p id="down_msg_2" style="margin-bottom: 0px;" class="text-center"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="call_request_2();" class="my_btn btn btn-danger" data-target="#exampleModal_2">Оставить заявку</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_3" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="background-color: #f5f5f5">
                    <div class="modal-body" style="padding-left: 12%; padding-right: 12%;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col-12"><h2 class="phone_zg text-center " style="margin-top: 0px; background: #f5f5f5"><span style="color: #e50e3a">Оставьте заявку</span></h2></div>
                            <div class="col-12"><h2 class="phone_wb text-center" style="margin-top: 0px; background: #f5f5f5">мы вам перезвоним </h2></div>
                        </div>
                        <div class="form-group">
                            <input class="form-control"  id="text_fname_3" type="text" style="margin-bottom: 5%; height: 64%;" rows="1" placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <input class="form-control"  id="text_phone_3" type="text" style="margin-bottom: 5%; height: 64%;" rows="1" placeholder="Телефон">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="text_msg_3" style="margin-bottom: 5%; height: 100%;" rows="3" placeholder="Текст обращения"></textarea>
                        </div>
                        <p id="down_msg_3" style="margin-bottom: 0px;" class="text-center"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="call_request_3();" class="my_btn btn btn-danger" data-target="#exampleModal_3">Оставить заявку</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- JavaScript Libraries -->
<script src="{% static 'main/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'main/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'main/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'main/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'main/lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'main/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'main/lib/mobile-nav/mobile-nav.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'main/js/main.js' %}"></script>
<script src="{% static 'main/js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'main/js/device.js' %}"></script>

</body>
</html>