<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Бизнес Ассистент</title>
    {% load static %}

    <!-- Bootstrap CSS Filez -->
    <link href="{% static 'main/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Libraries CSS Files -->

    <link href="{% static 'main/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://bootstraptema.ru/snippets/effect/2016/ihe/effects.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Main Stylesheet File -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

    <meta name="format-detection" content="telephone=no">
</head>
<body>
<section id="headers"></section>
<div class="osnova">
    <script>
        var TxtType = function(el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtType.prototype.tick = function() {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

            var that = this;
            var delta = 200 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
            }

            setTimeout(function() {
                that.tick();
            }, delta);
        };

        window.onload = function() {
            var elements = document.getElementsByClassName('typewrite');
            for (var i=0; i<elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-type');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                    new TxtType(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #111}";
            document.body.appendChild(css);
        };
    </script>
    <header id="header">
        <div class = "container" style="max-width: 1350px; margin:0 auto;">
            <div class = "row">
                <div class="col-12">
                    <div class="my_href_b logo float-left">
                        <a href="#headers" class="scrollto img-fluid"><img style="margin-top: auto; margin-bottom: auto;" src="{% static 'main/img/logo.png' %}"></a>
                    </div>
                    <div class="my_href_s logo float-right">
                        <a href="#headers" class="scrollto img-fluid"><img style="margin-top: auto; margin-bottom: auto;" src="{% static 'main/img/logo.png' %}"></a>
                    </div>

                    <nav class="main-nav float-right d-none d-lg-block">
                        <ul>
                            <li><a href="#about">О компании</a></li>
                            <li><a href="#services">Услуги</a></li>
                            <li><a href="#team">Сотрудники</a></li>
                            <li><a href="#testimonials">Клиенты</a></li>
                            <li><div class="my_href_b"><a href="tel:8 (910) 748-02-345" style="padding-left: 100px;">8 (910) 748-02-345</a></div></li>
                            <li><div class="my_href_s"><a href="tel:8 (910) 748-02-345">8 (910) 748-02-345</a></div></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div style="background-color: #f5f5f5">
        <div class="container" style="">
            <div class = "row" style="max-width: 1350px; margin: 70px auto 0;overflow: hidden;">
                <div class="col-md-6 col-sm-12 block_1" style="padding-left: 0px; padding-right: 0px;"><img class="img-fluid" src="{% static 'main/img/_DSC3292.jpg' %}"></div>
                <div class="col-md-6 col-sm-12 block_1">
                    <div class="col-12">
                        <div class="">
                            <h1 class="text-left" style="margin-left: 2%; font-family: Rubik-ext"><span style="color: #e50e3a">Б</span>изнес <br><span style="color: #e50e3a">А</span>ссистент</h1>
                            <div class="my_txt text-left" style="line-height: 110%;">Полный спектр услуг<br>для успешного ведения бизнеса</div>
                            <div class="my_txt text-left typewrite" data-period="1000" data-type='[ "Бухгалтерия", "Налоги", "Юристы" ]' style="color: #e50e3a;"><span class="wrap"></span></div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="about" class="patern">
    <div class="container" style="max-width: 1350px; margin:0 auto;">
        <div class = "row" style="max-width: 100%; overflow: hidden">
            <div class="" style="margin-left: 15px;">
                <div class="fon">
                    <div class="container d-flex align-items-center justify-content-center" style="margin-top: 90px;">
                        <dev class="phone_zg">О компании</dev>
                        <br><br><br><br>
                    </div>
                    <div class="container d-flex align-items-center justify-content-center">
                        <dev class="phone_wb" style="padding-bottom: 5%;padding-left: 5%; padding-right: 5%;">Мы современая компания с быстрыми и уникальными решениями для вашего бизнеса. На данном рынке более 20 лет, мы постоянно развиваемся и не стоим на месте. У нас очень уютный офис, в котором вас всегда встретят с улыбкой и угостят вкусным кофе. Обслуживаясь в нашей компании, вы получаете не просто услугу, а целую команду специалистов, которые сделают все для того, чтобы Вы получили максимальную пользу и комфорт.</dev></div>
                    <br><br><br>
                    </div>
                </dev>
            </div>
        </div>
    </div>
</section>
    <section id="numbers">
    <div class="container" style="max-width: 1350px; margin:0 auto; overflow: hidden">
        <div class="row">
            <div class="col-12 text-center phone_zg" style="margin-top: 60px;">О нас в цифрах</div>
            </div>
        <div class="row phone_zg text-center" style="margin-top: 50px;">
            <div class="col-lg-1"></div>
            <div class="col-md-6 col-lg-3" style="color: #e50e3a; margin-bottom: 2.5%;">
                <div><span data-toggle="counter-up">20</span> лет</div>
                <div class="text_o_nas text-center">Успешной работы<br> нашей фирмы</div>
            </div>
            <div class="col-md-6 col-lg-2" style="color: #e50e3a; margin-bottom: 2.5%;">
                <div style="white-space: nowrap"><span data-toggle="counter-up">800</span> 000+</div>
                <div class="text_o_nas text-center">Сданных<br>отчетов</div>
            </div>
            <div class="col-md-6 col-lg-2" style="color: #e50e3a; margin-bottom: 2.5%;">
                <div><span data-toggle="counter-up">200 </span></div>
                <div class="text_o_nas text-center">Обслуживаемых<br>компаний</div>
            </div>
            <div class="col-md-6 col-lg-3" style="color: #e50e3a; margin-bottom: 2.5%;">
                <div><span data-toggle="counter-up">100</span> млн руб</div>
                <div class="text_o_nas text-center">Экономии денег<br>наших клиентов</div>
            </div>
            <div class="col-lg-1"></div>
            </div>
        <p><br></p>
    </div>
</section>
    <div style="background: #f5f5f5">
        <section id="services" style="background: #f5f5f5;max-width: 1350px;margin-left: auto;margin-right: auto;">
        <div class="container" style='overflow: hidden; margin-left: 15%; margin-right: 15%;'>

            <div class="row">
                <br>
                <div class="col-lg-12 text-center">
                    <p><br></p>

                    <h1 class="phone_zg" style="margin-top: 0px; background: #f5f5f5">Услуги</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                    <figure class="effect-text-two">
                        <img class="img-fluid" src="{% static 'main/img/1. Бухгалтерское обсуживание.jpg' %}" alt=""/>
                        <figcaption>
                            <h3>Бухгалтерское обслуживание</h3>
                            <p>Подготовим платёжки, счета, накладные. Проведем сверки. Сдадим отчеты. Правильно трудоустроим сотрудников, начислим зарплату, оформим отпуск и больничный. Быстро разблокируем счет <br><span style="margin-top: 6px; margin-bottom: 6px; font-weight: bold">От 5 000 рублей</span> <br> <a style="margin-top: 7px;" href="" class="btn hvr-hollow btn-lg">оставить заявку</a></p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                    <figure class="effect-text-two">
                        <img class="img-fluid" src="{% static 'main/img/2. Сопровождение работ с маркетплейсами.jpg' %}" alt=""/>
                        <figcaption>
                            <h3>Сопровождение работы с маркетплейсами</h3>
                            <p>Автоматизация учета, налоги, экспертный аудит правильности расчетов за проданный товар с учетом удержаний и бонусов<br><span style="margin-top: 6px; margin-bottom: 6px; font-weight: bold">От 10 000 рублей</span> <br> <a style="margin-top: 7px;" href="" class="btn hvr-hollow btn-lg">оставить заявку</a></p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                    <figure class="effect-text-two">
                        <img class="img-fluid" src="{% static 'main/img/3. Оптимизация работы с онлайн-кассами, эквайрингом.jpg' %}" alt=""/>
                        <figcaption>
                            <h3>Оптимизация работы с онлайн-кассами, эквайрингом </h3>
                            <p>Чеки коррекции, ОФД. Постановка/снятие кассы на учет в налоговой. Отражение поступлений эквайринга в учете<br><span style="margin-top: 6px; margin-bottom: 6px; font-weight: bold">От 1 000 рублей</span> <br> <a style="margin-top: 7px;" href="" class="btn hvr-hollow btn-lg">оставить заявку</a></p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                    <figure class="effect-text-two">
                        <img class="img-fluid" src="{% static 'main/img/4. Подбор и внедрение облачныхрешений для приема денег онлайн.jpg' %}" alt=""/>
                        <figcaption>
                            <h3>Подбор и внедрение облачных решений для приема денег онлайн </h3>
                            <p>Прием денег через интернет на сайт, по ссылкам, через СБП, через платежных агрегаторов ЮКаssa, Продамус, Робокасса и др. Или оплата на месте по QR-коду<br><span style="margin-top: 6px; margin-bottom: 6px; font-weight: bold">От 3 000 рублей</span> <br> <a style="margin-top: 7px;" href="" class="btn hvr-hollow btn-lg">оставить заявку</a></p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                    <figure class="effect-text-two">
                        <img class="img-fluid" src="{% static 'main/img/5.  Маркировка, лицензирование, прослеживаемые товары, ФГИС, ЭДО.jpg' %}" alt=""/>
                        <figcaption>
                            <h3>Маркировка, лицензирование, прослеживаемые товары, ФГИС, ЭДО</h3>
                            <p>Работа в системе “Честный знак”, проведение маркировки, занесение данных по товарам, получение электронной подписи. Настроим ЭДО, внесем данные в ФГИС<br><span style="margin-top: 6px; margin-bottom: 6px; font-weight: bold">От 3 000 рублей</span> <br> <a style="margin-top: 7px;" href="" class="btn hvr-hollow btn-lg">оставить заявку</a></p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                    <figure class="effect-text-two">
                        <img class="img-fluid" src="{% static 'main/img/6. Налоговые вопросы.jpg' %}" alt=""/>
                        <figcaption>
                            <h3>Налоговые <br> вопросы</h3>
                            <p>Возьмем на себя общение с налоговой, ответим на требования, разберемся с недоимкой. Получим патент. Правильно заполним и сдадим декларацию<br><span style="margin-top: 6px; margin-bottom: 6px; font-weight: bold">От 4 000 рублей</span> <br> <a style="margin-top: 7px;" href="" class="btn hvr-hollow btn-lg">оставить заявку</a></p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                    <figure class="effect-text-two">
                        <img class="img-fluid" src="{% static 'main/img/7. Регистрация, ликвидация бизнеса.jpg' %}" alt=""/>
                        <figcaption>
                            <h3>Регистрация/ ликвидация бизнеса</h3>
                            <p>Проведем онлайн регистрацию/ликвидацию/изменения ООО, ИП. Удаленно подадим уведомления в Вестник и Федресурс. Сдадим ликвидационную отчетность<br><span style="margin-top: 6px; margin-bottom: 6px; font-weight: bold">От 8 000 рублей</span><br> <a style="margin-top: 7px;" href="" class="btn hvr-hollow btn-lg">оставить заявку</a> </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                    <figure class="effect-text-two">
                        <img class="img-fluid" src="{% static 'main/img/8. Корпоративные юриддические задачи.jpg' %}" alt=""/>
                        <figcaption>
                            <h3>Корпоративные юридические задачи</h3>
                            <p>Составим договоры, понятно объясним юридические тонкости, проконсультируем, поможем в составлении претензий и урегулировании споров<br><span style="margin-top: 6px; margin-bottom: 6px; font-weight: bold">От 5 000 рублей</span><br> <a style="margin-top: 7px;" href="" class="btn hvr-hollow btn-lg">оставить заявку</a></p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-3 my_center"></div>
                <div class="col-lg-4 col-sm-6 col-xs-12 hover-text-one">
                    <figure class="effect-text-two">
                        <img class="img-fluid" src="{% static 'main/img/9. Персональная помощь бизнес-ассистента под ваш запрос.jpg' %}" alt=""/>
                        <figcaption>
                            <h3>Персональная помощь бизнес-ассистента под ваш запрос</h3>
                            <p>Возможно ваш бизнес уникален и требует персонального подхода в решении нестандартных задач. Расскажите нам о них. Мы подберем оптимальные варианты<br> <a style="margin-top: 7px;" href="" class="btn hvr-hollow btn-lg">оставить заявку</a></p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-3 my_center"></div>
            </div>
        </div>
    </section>
    </div>
    <section id="about_work" style="max-width: 1350px; margin:0 auto; overflow: hidden;">
        <div class="container my_cont_1">
            <div class="col-lg-12 text-center">
                <p><br></p>
                <div class="phone_zg">Как мы работаем</div>
                <p></p>
                <img class="img-fluid col-12" style="max-width: 80%;" src="{% static 'main/img/img.png' %}">
                <div class="col-12" style="padding-right: 5%; padding-left: 5%;">
                    <div class="row ">
                        <div class="col-3 text-center phone_wb"><p style="font-family: Rubik-ext">Оставьте <a href="" style="color: #e50e3a; text-decoration: none;">заявку</a></p></div>
                        <div class="col-1"></div>
                        <div class="col-4 text-center phone_wb"><p style="font-family: Rubik-ext">Мы позвоним</p>
                            <p style="font-family: Rubik_rg">Наш специалист свяжется с вами и обсудит все вопросы</p></div>
                        <div class="col-1"></div>
                        <div class="col-3 text-center phone_wb"><p style="font-family: Rubik-ext">Выполняем работу</p>
                            <p style="font-family: Rubik_rg">Указываем перечень работ, сроки, стоимость и порядок оплаты</p></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my_cont_2">
            <div class="col-lg-12 text-center">
                <p><br></p>
                <div class="phone_zg">Как мы работаем</div>
                <p></p>
                <div class="row">
                    <div class="col-12 text-left white-space: nowrap;" style="margin-bottom: 20px;">
                        <div class="row">
                            <div class="col-4 text-right"><img style="max-width: 90px;margin-bottom: 20px;" src="{% static 'main/img/num1.png' %}"></div>
                            <div class="col-8" style="margin-top: auto; margin-bottom: auto;"><p style="font-family: Rubik-ext; font-size: 140%"> Оставьте <a href="" style="color: #e50e3a; text-decoration: none;">заявку</a></p></div>
                        </div>
                    </div>
                    <div class="col-12 text-left white-space: nowrap;" style="margin-bottom: 20px;">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-6 text-center phone_wb"><p style="font-family: Rubik-ext; margin-bottom: 8px;">Мы позвоним</p>
                                <p style="font-family: Rubik_rg; font-size: 100%; line-height: 120%">Наш специалист свяжется с вами и обсудит все вопросы</p></div>
                            <div style="margin-top: auto; margin-bottom: auto;" class="col-4 text-left"><img style="max-width: 90px;margin-bottom: 20px;" src="{% static 'main/img/num2.png' %}"></div>
                        </div>
                    </div>
                    <div class="col-12 text-left white-space: nowrap;" style="margin-bottom: 20px;">
                        <div class="row">
                            <div style="margin-top: auto; margin-bottom: auto;" class="col-4 text-right"><img style="max-width: 90px;margin-bottom: 20px;" src="{% static 'main/img/num3.png' %}"></div>
                            <div class="col-6 text-center phone_wb"><p style="font-family: Rubik-ext; margin-bottom: 8px;">Выполняем работу</p>
                                <p style="font-family: Rubik_rg; font-size: 100%; line-height: 120%">Указываем перечень работ, сроки, стоимость и порядок оплаты</p></div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" style="overflow: hidden; background: #f5f5f5">
        <div class="container">
            <div class="text-center">
                <p><br></p>
                <div class="phone_zg" style="background: #f5f5f5">Наши сотрудники</div>
                <p></p>
                <div class="content_flip">
                    <a class="card" href="#!">
                        <div class="front">
                            <img src="{% static 'main/img/_DSC2991.jpg' %}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <h1>qwe</h1>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!">
                        <div class="front">
                            <img src="{% static 'main/img/_DSC3204.jpg' %}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <h1>qwe</h1>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!">
                        <div class="front">
                            <img src="{% static 'main/img/_DSC2907.jpg' %}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <h1>qwe</h1>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!">
                        <div class="front">
                            <img src="{% static 'main/img/_DSC3575.jpg' %}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <h1>qwe</h1>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!">
                        <div class="front">
                            <img src="{% static 'main/img/_DSC3426.jpg' %}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <h1>qwe</h1>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!">
                        <div class="front">
                            <img src="{% static 'main/img/_DSC3156.jpg' %}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <h1>qwe</h1>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                            </div>
                        </div>
                    </a>
                    <a class="card" href="#!">
                        <div class="front">
                            <img src="{% static 'main/img/DSC07232.png' %}" alt="">
                        </div>
                        <div class="back">
                            <div>
                                <h1>qwe</h1>
                                <p>Consectetur adipisicing elit. Possimus, praesentium?</p>
                                <p>Provident consectetur natus voluptatem quis tenetur sed beatae eius sint.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials" style="max-width: 1350px; margin:0 auto;">
        <div class="container" style="overflow: hidden; margin-left: 8%; margin-right: 8%;">
            <div class="phone_zg text-center" style="padding-bottom: 2%">Наши клиенты</div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="owl-carousel testimonials-carousel wow">
                            <div class="testimonial-item">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4" style="margin-top: 14px;">
                                        <img src="{% static 'main/img/Кадр 341572f091af2883c8168316fde77a62.png' %}" class="testimonial-img img-fluid" style="padding-left: 10%;padding-right: 10%;margin-left: auto;margin-right: auto;margin-bottom: 2.5%;" alt="">
                                    </div>
                                    <div class="col-md-12 col-lg-8" style="padding-left: 5%; padding-right: 5%; margin-top: auto;margin-bottom: auto;">

                                        <div class="phone_zg text-center" style="margin-bottom: 1%;">Юрист-Консалт</div>
                                        <div class="phone_wb" style="margin-left: 6px; text-align: left">
                                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4" style="margin-top: 14px;">
                                        <img src="{% static 'main/img/Кадр 341572f091af2883c8168316fde77a62.png' %}" class="testimonial-img img-fluid" style="padding-left: 10%;padding-right: 10%;margin-left: auto;margin-right: auto;margin-bottom: 2.5%;" alt="">
                                    </div>
                                    <div class="col-md-12 col-lg-8" style="padding-left: 5%; padding-right: 5%; margin-top: auto;margin-bottom: auto;">

                                        <div class="phone_zg text-center" style="margin-bottom: 1%;">Юрист-Консалт</div>
                                        <div class="phone_wb" style="margin-left: 6px; text-align: left">
                                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4" style="margin-top: 14px;">
                                        <img src="{% static 'main/img/Кадр 341572f091af2883c8168316fde77a62.png' %}" class="testimonial-img img-fluid" style="padding-left: 10%;padding-right: 10%;margin-left: auto;margin-right: auto;margin-bottom: 2.5%;" alt="">
                                    </div>
                                    <div class="col-md-12 col-lg-8" style="padding-left: 5%; padding-right: 5%; margin-top: auto;margin-bottom: auto;">

                                        <div class="phone_zg text-center" style="margin-bottom: 1%;">Юрист-Консалт</div>
                                        <div class="phone_wb" style="margin-left: 6px; text-align: left">
                                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4" style="margin-top: 14px;">
                                        <img src="{% static 'main/img/Кадр 341572f091af2883c8168316fde77a62.png' %}" class="testimonial-img img-fluid" style="padding-left: 10%;padding-right: 10%;margin-left: auto;margin-right: auto;margin-bottom: 2.5%;" alt="">
                                    </div>
                                    <div class="col-md-12 col-lg-8" style="padding-left: 5%; padding-right: 5%; margin-top: auto;margin-bottom: auto;">

                                        <div class="phone_zg text-center" style="margin-bottom: 1%;">Юрист-Консалт</div>
                                        <div class="phone_wb" style="margin-left: 6px; text-align: left">
                                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4" style="margin-top: 14px;">
                                        <img src="{% static 'main/img/Кадр 341572f091af2883c8168316fde77a62.png' %}" class="testimonial-img img-fluid" style="padding-left: 10%;padding-right: 10%;margin-left: auto;margin-right: auto;margin-bottom: 2.5%;" alt="">
                                    </div>
                                    <div class="col-md-12 col-lg-8" style="padding-left: 5%; padding-right: 5%; margin-top: auto;margin-bottom: auto;">

                                        <div class="phone_zg text-center" style="margin-bottom: 1%;">Юрист-Консалт</div>
                                        <div class="phone_wb" style="margin-left: 6px; text-align: left">
                                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #testimonials -->
    <section style="overflow: hidden; background: #f5f5f5">
        <div style="max-width: 1350px; margin:0 auto;">
            <div class="row" style="margin-bottom: 1%;">
                <div class="col-md-6 col-sm-12">
                    <img class="img-fluid" style="max-height: 535px" src="{% static 'main/img/_DSC3512.jpg' %}">
                </div>
                <div class="col-md-6 col-sm-12" style="margin-top: 2.7%;">
                    <form style="margin-left: 3.5%; margin-right: 3.5%;">
                        <h1 class="phone_zg text-center" style="margin-top: 0px; background: #f5f5f5"><span style="color: #e50e3a">Оставьте заявку</span></h1>
                        <h1 class="phone_wb text-center" style="margin-top: 0px; background: #f5f5f5">мы вам перезвоним </h1>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" style="margin-bottom: 5%; height: 64%;" rows="1" placeholder="Имя"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea2" style="margin-bottom: 5%; height: 64%;" rows="1" placeholder="Телефон"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea3" style="margin-bottom: 5%; height: 114%;" rows="2" placeholder="Комментарий"></textarea>
                        </div>
                        <div class="d-grid gap-2 d-flex justify-content-end">
                            <button type="submit" style="width: 33.5%; max-width: 270px; border-top-width: 0; border-left-width: 0; border-bottom-width: 0; border-right-width: 0;" class="btn hvr-hollow btn-lg">Оставить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section style="overflow: hidden;">
        <div class="patern container">
            <br>
            <br>
            <div class="row">
                <div class="col-xl-1 col-md-1 col-sm-0"></div>
                <div class="col-xl-6 col-md-6 col-sm-12 down_blok" style="margin-top: 0px;padding-top: 20px;padding-left: 40px;padding-right: 40px;padding-bottom: 30px;max-width: 650px; border-radius: 10px">
                    <div class="row">
                        <div class="col-6" style="font-family: Regular;font-size: 25pt;line-height: 85%;padding-left: 0px;">Контактная <br> информация</div>
                        <div class="col-6 text-right">
                            <img src="{% static 'main/img/логотип рус-01 (5).png' %}">
                        </div>
                    </div>
                    <br>
                    <div class="row" style="background-color: #f1f1f1;padding-bottom: 5px;padding-left: 5px;padding-top: 5px;border-radius: 10px;">
                        <div class="col-6" style="margin-bottom: 15px;">Телефон:
                            <br><a href="tel:8 (4862) 75-17-27">8 (4862) 75-17-27</a>
                            <br><a href="tel:+7 (910) 748-02-34">+7 (910) 748-02-34</a>
                        </div>

                        <div class="col-6 b_blok" style="margin-bottom: 15px;">Адрес:
                            <br>Орёл, ул. 2-ая Посадская,<br>д. 4, офис 100
                        </div>

                        <div class="col-6 m_blok" style="margin-bottom: 15px;">Адрес:
                            <br>Орёл,<br>ул. 2-ая Посадская,<br>д. 4, офис 100
                        </div>

                        <div class="col-6">Электронный адрес:
                        <br>b2b-as@yandex.ru
                        </div>
                        <div class="col-6">Соц. сети:
                        <br>
                            <a href="https://telegram.me/+79107480234"><img src="{% static 'main/img/2022-09-16_15-43-40.png' %}"></a>
                            <a href=""><img src="{% static 'main/img/2022-09-16_15-45-42.png' %}"></a>
                            <a href="https://wa.me/+79107480234"><img src="{% static 'main/img/2022-09-16_15-49-11.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-5 col-sm-0"></div>
            </div>
            <br><br>
        </div>
        <div class="container">
            <div class="row" style="background-color: #dedede">
                <div class="col-6 text-center" style="font-size: 9pt;margin-top: 0.5%;margin-bottom: 0.5%;">
                    © 2022. Все права защищены.
                    <br>ООО Бизнес Ассистент ИНН/КПП 5753030469/575201001
                </div>
                <div class="col-6 text-center align-middle" style="font-size: 10pt;margin-top: 0.5%;margin-bottom: 0.5%;padding-top: 10px;">
                    <a href="{% static 'main/img/Политика конфидициальности.pdf' %}" target="_blank">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- JavaScript Libraries -->
<script src="{% static 'main/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'main/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'main/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'main/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'main/lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'main/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'main/lib/mobile-nav/mobile-nav.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>