<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Бизнес Ассистент</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'qr_code/css/qr_code.css' %}">

</head>
<body style="background-color: #f9f9f9; overflow-x:hidden;">
<div class = "container">
    <div class = "row">
        <div class="col-12">
            <img class="img-fluid rounded mx-auto d-block" src="{% static 'qr_code/img/logo.jpg'%}">
            <hr style="color: #e50e3a; height: 3px; opacity: 1">
            <div class="row">
                <h1 class="text-center"><span style="color: #e50e3a">Б</span>изнес <span style="color: #e50e3a">А</span>ссистент</h1>
            </div>
            <h6 class="text-center"><span style="font-weight: bold; font-size: 1.08rem">АГЕНТСТВО БИЗНЕС УСЛУГ</span></h6>

        </div>
    </div>
    <div class = "row">
        <div class="col-1"></div>
        <div class="col-10">
            <ul style="padding-left: 18px;">
                <li>БУХГАЛТЕРСКОЕ ОБСЛУЖИВАНИЕ</li>
                <li>СОПРОВОЖДЕНИЕ РАБОТЫ С МАРКЕТПЛЕЙСАМИ</li>
                <li>ОПТИМИЗАЦИЯ РАБОТЫ С ОНЛАЙН-КАССАМИ, ЭКВАЙРИНГОМ</li>
                <li>ПОДБОР И ВНЕДРЕНИЕ ОБЛАЧНЫХ РЕШЕНИЙ ДЛЯ ПРИЕМА ДЕНЕГ ОНЛАЙН</li>
                <li>МАРКИРОВКА, ЛИЦЕНЗИРОВАНИЕ, ПРОСЛЕЖИВАЕМЫЕ ТОВАРЫ, <span style="font-size: 120%">ФГИС, ЭДО</span></li>
                <li>НАЛОГОВЫЕ ВОПРОСЫ</li>
                <li>РЕГИСТРАЦИЯ/ЛИКВИДАЦИЯ БИЗНЕСА</li>
                <li>КОРПОРАТИВНЫЕ ЮРИДИЧЕСКИЕ ЗАДАЧИ</li>
                <li>ПЕРСОНАЛЬНАЯ ПОМОЩЬ БИЗНЕС-АССИСТЕНТА ПОД ВАШ ЗАПРОС</li>
            </ul>
        </div>
        <div class="col-1"></div>
    </div>
    <div class = "row">
        <div class="col-1"></div>
        <div class="col-10"><button type="button" class="my_button2 btn text-center btn-primary btn-sm img-fluid"><img style="width: 30px;"><span style="font-family: 'Rubik_rg';">Наш сайт</span></button></div>
        <div class="col-1"></div>
    </div>
    <div class = "row">
        <div class="col-1"></div>
        <div class="col-5"><button type="button" class="my_button btn text-center btn-primary btn-sm img-fluid"><img style="width: 30px; margin-right: 10px;" src="{% static 'qr_code/img/phone.svg' %}"><span style="font-family: 'Rubik_rg';">Позвонить</span></button></div>
        <div class="col-5"><button type="button" class="my_button btn text-center btn-primary btn-sm img-fluid text-start"><img style="width: 30px; margin-right: 10px;" src="{% static 'qr_code/img/email.svg' %}">Написать</button></div>
        <div class="col-1"></div>
    </div>
    <div class = "row">
        <div class="col-1"></div>
        <div class="col-5"><button type="button" class="my_button btn text-center btn-primary btn-sm img-fluid text-start"><img style="width: 30px; margin-right: 10px;" src="{% static 'qr_code/img/whatsapp.png' %}"><span style="font-family: 'Rubik_rg';">WhatsАpp</span></button></div>
        <div class="col-5"><button type="button" class="my_button btn text-center btn-primary btn-sm img-fluid text-start"><img style="width: 30px; margin-right: 10px;" src="{% static 'qr_code/img/telegram.svg' %}"><span style="font-family: 'Rubik_rg';">Telegram</span></button></div>
        <div class="col-1"></div>
    </div>
</div>
</body>
</html>