div[class^=col]{
  /*background: #8CC7D9;*/
  /*border: 1px solid #6B6ACD;*/
  /*padding-right: 5px;*/
  /*padding-left: 5px;*/
}


@font-face {
  font-family: 'Rubik_lg';
  src: local('Rubik_lg'),
  url(../fonts/RubikLight.ttf);
}

.patern{
  background: url(../img/patern.png) repeat;
  width: 100%;
  height: auto;
}

.phone_wb{
  background: url(../img/fon.png) round;
  width: 100%;
  font-family: "Rubik_lg";
  font-size: 20px;
  text-align: justify;
}
.fon{
  background: url(../img/fon.png) round;
  width: 80%;
  height: 45%;
  margin-left: auto;
  margin-right: auto;
}

.phone_zg{
  background: url(../img/fon.png);
  font-family: "Rubik-ext";
  font-size: 36px;
}

.nuvmers_bg{
  background: url(../img/fon.png) repeat-x;
  width: 100%;
  height: 350px;
}

.text_o_nas{
  font-family: Rubik_rg;
  color: black;
  font-size: 15px;
}

@font-face {
  font-family: 'Rubik_rg';
  src: local('Rubik_rg'),
  url(../fonts/rubik-reg.ttf);
}

@font-face {
  font-family: 'Rubik-ext';
  src: local('Rubik-ext'),
  url(../fonts/rubik-extrabold.ttf);
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255);
}

h1{
  margin-top: 19%;
  font-family: "Rubik-ext";
  font-size: min(max(40px, 5vw), 336%);
}

.my_btn{
  width: 200px;
  background-color: #e50e3a;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

.my_btn:hover{
  background-color: #c20428;
}

.my_btn:active{
  background-color: #c20428;
}

.my_txt{
  font-family: "Rubik_rg";
  margin-left: 2.25%;
}

@media (max-width: 60000px) and (min-width: 1170px) {
  .my_txt{
    font-size: 35px;
  }
}

@media (max-width: 1170px) and (min-width: 768px) {
  .my_txt{
    font-size: 2.5vw;
  }
  h1{
    margin-top: 10%;
  }
}

@media screen and (max-width: 768px) {
  .my_txt {
    font-size: 170%;
  }
  h1{
    margin-top: 7%;
  }
}

.block_1{
  background: #f5f5f5;
}

#header.header-scrolled,
#header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
  display: none;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #e51739;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  max-height: 47px;
  margin: 18px 20px 7px 50px
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #000000;
  padding: 10px 30px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Rubik_rg";
  text-transform: uppercase;
  font-weight: 600;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #e51739;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #1bb1dc;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: "Rubik_rg";
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 70px;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 210px;
  padding-top: 0;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 20px 30px rgb(127 137 161 / 30%);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  font-family: "Rubik_rg";
  display: block;
  position: relative;
  color: #000000;
  padding: 10px 20px;
  font-size: 110%;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #e51739;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  /*font-family: FontAwesome;*/
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  /*right: 0;*/
  top: 0;
  margin-left: 15px;
  margin-top: 5px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}


.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #e50e3a;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #e50e3a;
}
#about .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#about .about-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: .5s;
}

#about .about-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

/*Hover Fall Effect*/

/* Общие стили */
*, *:after, *:before {
  /*border-box;*/
  box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.hover-text-one {
  overflow: hidden;
  margin: 0;
  /*width: 100%;*/
  list-style: none;
  text-align: center;
}
.hover-text-one figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  background: #527c82;
  text-align: center;
  cursor: pointer;
}
.hover-text-one figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}
.hover-text-one figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
  pointer-events: none;
}
.hover-text-one figure figcaption{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hover-text-one figure h3 {
  font-size: 90%;
  font-weight: 300;
  padding-left: 4%;
  padding-right: 4%;
  font-family: "Rubik_rg";
}
.hover-text-one figure h3 span {
  font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
  margin: 0;
}
.hover-text-one figure p {
  letter-spacing: 1px;
  /*font-family: "Rubik_rg";*/
}

@media (max-width: 60000px) and (min-width: 1200px) {
  .hover-text-one figure p {
    font-size: 55%;
  }
}

@media (max-width: 1200px) and (min-width: 1090px) {
  .hover-text-one figure p {
    font-size: 45%;
  }
}

@media (max-width: 1090px) and (min-width: 991px) {
  .hover-text-one figure p {
    font-size: 40%;
  }
}

@media (max-width: 991px) and (min-width: 850px) {
  .hover-text-one figure p {
    font-size: 60%;
  }
}

@media (max-width: 850px) and (min-width: 720px) {
  .hover-text-one figure p {
    font-size: 50%;
  }
}

@media (max-width: 720px) and (min-width: 620px) {
  .hover-text-one figure p {
    font-size: 40%;
  }
}

@media (max-width: 620px) and (min-width: 575px) {
  .hover-text-one figure p {
    font-size: 35%;
  }
}

@media (max-width: 575px) and (min-width: 420px) {
  .hover-text-one figure p {
    font-size: 60%;
  }
}

@media (max-width: 420px) and (min-width: 340px) {
  .hover-text-one figure p {
    font-size: 50%;
  }
}

@media screen and (max-width: 340px) {
  .hover-text-one figure p {
    font-size: 40%;
  }
}
@media (max-width: 60000px) and (min-width: 991px) {
  .my_center{
    display: none;
  }
}


@media screen and (max-width: 420px) {
  .my_center{
    display: none;
  }
}

/* Эффект при наведении */
figure.effect-text-two figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.49);
  content: '';
  opacity: 0;
}
figure.effect-text-two h3 {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
  color: #ffffff !important;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}
figure.effect-text-two figcaption::before,
figure.effect-text-two p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-text-two img{
  filter: brightness(60%);
}

figure.effect-text-two p {
  position: absolute;
  bottom: 0;
  left: 0;
  /*padding: 2em;*/
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  height: 60%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-text-two:hover h3 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-70%,0) translate3d(0,-50px,0);
}
figure.effect-text-two:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-text-two:hover figcaption::before{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) translate3d(0,0,0);
  transform: translate3d(0,0,0) translate3d(0,0,0);
}

@media (max-width: 60000px) and (min-width: 929px) {
  .my_cont_2{
    display: none;
  }
}

@media screen and (max-width: 929px) {
  .my_cont_1{
    display: none;
  }
}


.btn.hvr-hollow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  /*box-shadow: inset 0 0 0 0px #e51739, 0 0 1px rgba(0, 0, 0, 0);*/
  background: #e51739;
  max-width: 80%;
  color: white;
  font-size: 10px;
}

.btn.hvr-hollow:hover {
  background: white;
  box-shadow: inset 0 0 0 2px #e51739;
  color: black;
}


/*FLIP CARDS*/
*, *:before, *:after {
  box-sizing: border-box;
}
.content_flip {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}
.heading_flip {
  width: 100%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  line-height: 1;
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  position: relative;
}
.heading_flip:after {
  display: block;
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background: linear-gradient(135deg, #f5f5f5, #f5f5f5);
  bottom: 0;
}
.description_flip {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}
.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
}
@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 5rem);
  }
}
@media screen and (max-width: 640px) {
  .card {
    width: 75%;
  }
}
.front, .back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}
.front {
  background-size: cover;
  padding: 1rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #f5f5f5;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}
.front:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #f5f5f5, #f5f5f5);
  opacity: 0.25;
  z-index: -1;
}

.back{
  color: #000000;
  font-size: 90%;
  font-family: Rubik_rg;
}
.back p{

}

/*.card:hover .front{*/
/*  transform: rotateY(180deg);*/
/*}*/
/*.back {*/
/*  background: #f5f5f5;*/
/*  transform: rotateY(-180deg);*/
/*  padding: 0 2em;*/
/*}*/
/*.card:hover .back {*/
/*  transform: rotateY(0deg);*/
/*}*/



/* Testimonials Section
--------------------------------*/

#testimonials {
  padding: 40px 0;
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item .testimonial-img {
  max-width: 500px;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  color: #111;
  margin: 10px 0 5px 140px;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 140px;
}

#testimonials .testimonial-item p {
  margin: 0 0 15px 140px;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.owl-dots{
  margin-bottom: 5px;
}


#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #475d65;
}

@media (max-width: 60000px) and (min-width: 454px) {
  .m_blok{
    display: none;
  }
}

@media screen and (max-width: 454px) {
  .b_blok{
    display: none;
  }
}

@media (max-width: 60000px) and (min-width: 992px) {
  .my_href_s{
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .my_href_b{
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 430px) {
  .down_blok{
    background: url(../img/image_2022-11-23_13-44-27.png) no-repeat;
    background-size: 100% auto;
  }
}

@media (max-width: 90000px) and (min-width: 900px) {
  .down_blok{
    background: url(../img/image_2022-11-23_13-44-27.png) no-repeat;
    background-size: 100% auto;
  }
}

@media screen and (max-width: 430px) {
  .down_blok{
    background: url(../img/image_2022-11-23_13-44-27.png) no-repeat;
  }
}

@media (max-width: 900px) and (min-width: 768px) {
  .down_blok{
    background: url(../img/image_2022-11-23_13-44-27.png) no-repeat;
  }
}

